<section class="productContainer">
    <!-- con esto se hace el grid de productos -->
    {{#if products}}
    {{#each products}}
    <!-- <li>{{ name }} <strong>{{ price }}</strong></li> -->
    <div class="thumb">
        <a href="/producto/{{ title }}/{{ id }}" class="thumb__link">
            <img src="{{ img }}" class="thumb__img" alt="">
            <h4 class="thumb__title">{{ title }}</h4>
            <p class="thumb__price">{{ price }}</p>

        </a>
    </div>
    {{/each}}
    {{/if}}
</section>