<h1 class="title"> {{ title }}</h1>

<!-- con esto se hace el grid de productos -->
{{#if products}}
{{#each products}}
<!-- <li>{{ name }} <strong>{{ price }}</strong></li> -->
<div class="product">
    <a href="/producto/{{ title }}/{{ id }}" class="product__link">
        <img src="{{ img }}" class="product_img" alt="">
        <h4 class="product__title">{{ title }}</h4>
        <p class="product__price">{{ price }}</p>

    </a>
</div>
{{/each}}
{{/if}}